# Blockfrost project
BLOCKFROST_PROJECT_ID=

# Development

# Bot
DEV_BOT_TOKEN=
DEV_CLIENT_ID=

# Server
DEV_GUILD_ID=888712568821125150
DEV_FLOOR_CHANNEL_ID=889682253288964160
DEV_FLOOR_CHANNEL_MESSAGE_FLAG=69420
DEV_FLOOR_CHANNEL_MESSAGE_ID=0
DEV_FLOOR_CHANNEL_MESSAGE_TIMER=600000

# Deployment

# Deployment
# This variables usually arent used for any development
# its just for better understanding and ease

# use this to publish commands

# Bot
DEP_BOT_TOKEN=
DEP_CLIENT_ID=

# Server
DEP_GUILD_ID=834462834150342689
DEP_FLOOR_CHANNEL_ID=903309700228071504
DEP_FLOOR_CHANNEL_MESSAGE_FLAG=69420
DEP_FLOOR_CHANNEL_MESSAGE_ID=0
DEP_FLOOR_CHANNEL_MESSAGE_TIMER=600000


